
body {
    background-color: '#FEFFFD';
    color: white;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    display: none;
}

.background-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding-top: 80px;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/image/bg-home.png');
    background-size: cover;
    background-position: center;
    filter: brightness(0.4);
    z-index: -1;
}

.navbar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 20px 30px;
    z-index: 1000;
    border-left: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-top: none;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 90%;
    max-width: 1800px;
    background-color: rgba(97, 97, 97, 0.226);
    backdrop-filter: blur(10px);
}


.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}
.nav-links a:hover {
    color: #E0FE08;
    transition: 0.2s ease;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content a:hover{
    color: #005057;
    transition: 0.2 ease;
}

.dropbtn {
    background: none;
    display: flex;
    flex-direction: row;
    gap: 5px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 120px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}



.daftar-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 5px 5px;
    text-decoration: none;
}

.daftar-btn span {
    margin-right: 10px;
    margin-left: 10px;
    color: #fff;
}

.circle-icon {
    width: 30px;
    height: 30px;
    background-color: var(--lemon-zest);
    border-radius: 50%;
}
.hamburger {
    display: none; 
    cursor: pointer;
}
.sidebar {
    position: fixed;
    top: 0;
    left: -280px; 
    width: 280px;
    height: 100vh;
    background-color: #fff;
    padding: 20px;
    transition: left 0.3s ease-in-out;
    z-index: 1100;
    display: flex;
    flex-direction: column;
}

/* Saat sidebar aktif */
.sidebar.active {
    left: 0;
}

.close-btn {
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    background-color: #005057;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 20px;
}
.navbar-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-top: 60px;
    margin-bottom: 20px;
}
.navbar-profile img{
    height: 60px;
    width: 60px;
}
.navbar-profile a{
    font-weight: bold;
    text-decoration: none;
    color: #000;
}
.divider{
    background-color: #00000033;
    width: 100%;
    height: 2px;
}
.sidebar ul {
    list-style: none;
    margin: 20px 0;
    border-radius: 20px;
}

.sidebar ul a {
    padding: 15px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    border-radius: 20px; 
    text-decoration: none;
    transition: background-color 0.2s ease, color 0.2s ease;
}
.sidebar ul a svg{
    fill: #717171;
}
.sidebar ul a:hover {
    background-color: #005057; 
}

.sidebar ul a:hover p,
.sidebar ul a:hover svg {
    fill: white !important;
    stroke: white !important;
    color: white;
}

.sidebar ul a p {
    color: rgba(0, 0, 0, 0.471);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.circle-icon {
    width: 30px;
    height: 30px;
    background-color: var(--lemon-zest);
    border-radius: 50%;
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: calc(100vh - 150px);
    padding: 0 20px;
}

.logo-center {
    margin-bottom: 30px;
}

.logo-center svg {
    height: 80px;
}

.heading {
    font-size: 3.5rem;
    font-weight: var(--font-extrabold);
    margin-bottom: 20px;
    line-height: 1.2;
}
.semesta {
    position: relative;
    color: #E0FE08;
    padding: 0 15px;
    border-radius: 5px;
    display: inline-block;
    z-index: 1;
    overflow: hidden; 
}

.semesta::before {
    content: "";
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 50%; 
    background: #E0FE08;
    opacity: 0.5;
    z-index: -1; 
    border-radius: 5px 5px 0 0; 
}


.subheading {
    font-size: 18px;
    max-width: 600px;
    margin-bottom: 40px;
    line-height: 1.5;
}

.cta-button {
    display: flex;
    align-items: center;
    background-color: rgba(127, 126, 126, 0.065);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;
    padding: 5px 5px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease;
}

.cta-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.cta-button span {
    margin-right: 10px;
    margin-left: 10px;
}

.arrow-icon {
    width: 35px;
    height: 35px;
    background-color: var(--lemon-zest);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-join {
    background-color: #FEFFFD;
    color: #333;
    overflow-x: hidden;
    padding: 0px 0px 40px 0px;
}

.header-bar {
    background-color: var(--ocean-teal);
    color: white;
    padding: 18px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.feature {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #E0FE08;
    font-weight: 500;
}

.club {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.feature img {
    width: 18px;
    height: 18px;
}

.carousel-section {
    position: relative;
    padding: 60px 0 0 0;
    overflow: hidden;
    width: 100%;
    height: 550px;
}

.carousel-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: flex-end;
    gap: 120px;
}

.card {
    position: relative;
    width: 200px;
    height: 250px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    color: #333;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
    overflow: hidden;
    transform-origin: center bottom;
}

.card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    border-radius: 15px;
}

.card-content {
    z-index: 1;
    max-width: 80%;
    justify-content: center;
    align-items: center;
}

.card-icon {
    width: 24px;
    height: 24px;
    display: block;
    margin-top: auto;
    margin-bottom: 10px;
}

.card-location-4 {
    position: absolute;
    bottom: 0;
    right: 0;
}
.card-pin-4 {
    position: absolute;
    top: 0;
    right: 0;
}
.card-pin-2 {
    position: absolute;
    top: 0;
    left: 0;
}

.card-1 {
    background-color: #e3ff00;
    transform: translateY(130px) rotate(-25deg);
}

.card-2 {
    background-color: #E0FE08;
    transform: translateY(30px) rotate(-15deg);
}

.card-3 {
    background-color: #fff;
    transform: translateY(0) rotate(0deg);
    z-index: 3;
}

.card-4 {
    background-color: #97B9FF;
    transform: translateY(30px) rotate(15deg);
}

.card-5 {
    background-color: #f5f5f5;
    transform: translateY(130px) rotate(25deg);
}

.logo-center {
    text-align: center;
    margin: 30px 0;
}

.logo-center img {
    height: 50px;
}

.info-section {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-heading {
    color: #005a5a;
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.sub-heading {
    color: #666;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.cta-join {
    display: inline-block;
    background-color: #005a5a;
    color: white;
    padding: 20px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cta-join:hover {
    background-color: #007a7a;
}

.section-about {
    background-color: #FEFFFD;
    color: #005a5a;
}
.why-saresa-section {
    max-width: 100%;
    margin: 50px auto 0;
    padding: 0 20px;
    position: relative;
    overflow: hidden;
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

.title-small {
    font-size: 24px;
    color: #005057;
    margin-bottom: 10px;
}

.title-large {
    font-size: 64px;
    font-weight: bold;
    color: #005057;
    position: relative;
    display: inline-block;
}

.title-large::after {
    content: "?";
    color: #005057;
}
.highlight {
    position: relative;
    color: #005057;
    padding: 0 15px;
    border-radius: 5px;
    display: inline-block;
    z-index: 1;
    overflow: hidden; 
}

.highlight::before {
    content: "";
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 75%; 
    background: linear-gradient(to right, #E0FE08 70%, rgb(255, 255, 255) 100%);
    opacity: 0.5;
    z-index: -1; 
    border-radius: 5px 5px 0 0; 
}

.benefits-container {
    position: relative;
    z-index: 2;
    max-width: 1200px;
    height: 200px;
    margin: 0 auto;
}

.benefit-1 {
    max-width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 5%;
}

.benefit-2 {
    max-width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    
}

.benefit-3 {
    max-width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 5%;
}


.benefit-icon {
    font-size: 28px;
    margin-bottom: 15px;
    color: #005a5a;
}

.benefit-title {
    font-size: 22px;
    font-weight: bold;
    color: #005a5a;
    margin-bottom: 10px;
    line-height: 1.3;
}

.broccoli-container {
    position: relative;
    height: 700px;
    margin-top: 20px;
    text-align: center;
}

.broccoli-image {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 900px;
    height: auto;
    object-fit: contain;
    z-index: 1;
}
.body-slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow: hidden;
    background-color: #f5f5f5;
}

.slogan-container {
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
}

.carousel {
    display: flex;
    flex-direction: row;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.left, .right {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    position: relative;
}
.left {
    background: url('/assets/image/slogan-left.png') center/cover;
}

.right {
    background: url('/assets/image/slogan-right.png') center/cover;
}
.right p{
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.dots-container {
    display: none; /* Hanya muncul di mobile */
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    background: gray;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background: yellow;
}


.container-mitra{
    height: auto;
    text-align: center;
    background-color: #fff;
    padding: 80px;
}
.slider-mitra{
    display: flex;
    gap: 150px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.container-mitra h1 {
    font-size: 40px;
    font-weight: bold;
    color: #005057;
    margin-bottom: 70px;
}
.mitra-first {
    display: flex;
    gap: 150px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 600px;
    margin-bottom: 50px;
}
.mitra-seccond {
    display: flex;
    grid-template-rows: repeat(2, 1fr);
    gap: 150px;
    justify-content: center;
    margin: 0 auto;
    max-width: 600px;
}
.img-mitra {
    width: 120px;
}

.newsletter-section {
    background-color: #005057;
    color: white;
    padding: 40px 20px;
    align-items: center;
    justify-content: center;
}

.newsletter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.newsletter-text {
    max-width: 600px;
}

.newsletter-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.newsletter-description {
    font-size: 16px;
    color: rgba(255,255,255,0.8);
}

.join-button {
    background-color: #005057;
    color: #E0FE08;
    border: 2;
    border-color: #E0FE08;
    padding: 15px 60px;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
.text-btn-join {
    text-align: center;
}

.newsletter-footer {
    background-image: url('/assets/image/footerbg.png');
    background-size: cover;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-start;
    padding: 30px 0;
}

.footer-left {
    display: flex;
    align-items: center;
}

.footer-logo {
    width: 50px;
    height: 50px;
}

.footer-mission {
    max-width: 400px;
}

.footer-mission-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-mission-text {
    font-size: 14px;
    color: rgba(255,255,255,0.7);
}
.logo-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
}

.footer-social {
    display: flex;
    gap: 15px;
    margin-top: 40px;
}

.social-icon {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.social-icon:hover {
    background-color: rgba(255,255,255,0.2);
}

.footer-navigation {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.footer-navigation h1 {
    font-size: 20px;
    margin-bottom: 10px;
}


.footer-navigation a {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 14px;
    transition: color 0.3s ease;
}

.footer-navigation a:hover {
    color: #c5ff00;
}

.footer-contact {
    text-align: right;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 10px;
}
.footer-contact p{
    font-size: 20px;
}
.email-circle {
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.copyright {
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    padding: 15px;
    font-size: 12px;
    border-top: 2px solid rgba(255, 255, 255, 0.3);
}

@media (max-width: 768px) {
    .navbar{
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 14px 10px 8px 10px;
        align-items: center;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: rgba(232, 232, 232, 0.8);
        backdrop-filter: blur(10px);
        text-align: center;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        padding: 10px 0;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
    }

    .hamburger div {
        width: 30px;
        height: 3px;
        background: #000;
        transition: 0.3s;
    }
    .logo {
        position: absolute;
        left: 46%;
        transform: translateX(-50%);
        margin-bottom: 7px;
    }
    .logo svg{
        height: 50px;
        width: 50px;
    }
    .daftar-btn {
        display: flex;
        align-items: center;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.049);
        border: 2px solid #fff;
        border-radius: 20px;
        padding: 2px 2px;
    }
    
    .daftar-btn span {
        margin: 5px 10px;
        font-size: 10px;
    }
    .circle-icon {
        width: 20px;
        height: 20px;
        background-color: var(--lemon-zest);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .daftar-btn svg {
        height: 20px;
        width: 20px;
    }    
    .logo svg {
        height: 40px;
    }
    .heading{
        font-size: 40px;
    }
    .header-bar {
        gap: 10px;
    }
    .feature {
        font-size: 10px;
    }
    
    .club {
        gap: 7px;
    }
    .club svg{
        width: 15px;
        height: 15px;
    }
    .carousel-container {
        display: flex;
        overflow-x: auto; 
        scroll-snap-type: x mandatory;
        gap: 10px;
        padding: 10px;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 300px;
        padding: 0 30px;
    }

    .carousel-container::-webkit-scrollbar {
        display: none;
    }

    .card {
        width: 160px;
        height: 200px;
        flex: 0 0 auto;
        scroll-snap-align: center;
        transform: none;
        rotate: none;
        position: relative;
        overflow: hidden; 
    }
    .card img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0; 
    }
    .card-1, .card-2, .card-3, .card-4, .card-5 {
        transform: none;
        rotate: none;
        z-index: 1; 
    }
    .main-heading{
        font-size: 20px;
        text-align: left;
        padding: 0 30px;
    }
    .sub-heading{
        font-size: 15px;
        text-align: left;
        padding: 0 30px;
    }
    .logo-center {
        justify-content: flex-start;
        display: flex;
        padding: 0 30px;
    }
    .benefit-1, .benefit-2, .benefit-3 {
        max-width: 80%;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        top: auto;
        padding: 0;
        margin-bottom: 5px;
    }
    .benefit-icon{
        margin: 0;
    }
    .benefit-icon svg{
        height: 40px;
        width: 40px;
    }

    .benefits-container {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .broccoli-container{
        height: 300px;
    }     
    .title-large {
        font-size: 48px;
    }
    .broccoli-container img{
        width: 500px;
        height: 300px;
    }
    .carousel {
        display: flex;
        width: 200%; /* Karena ada 2 slide */
        height: auto;
        transform: translateX(0);
    }

    .slide {
        width: 100vw;
        flex-shrink: 0;
    }

    .dots-container {
        display: flex;
    }
    .slider-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: 100%;
        max-width: 300px; /* Sesuaikan ukuran slider */
        margin: auto;
        position: relative;
    }

    .slider-mitra {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: calc(120px * 5); /* Lebar total semua gambar */
        white-space: nowrap; /* Hindari gambar turun ke bawah */
    }

    .img-mitra {
        width: 120px;
        flex-shrink: 0; /* Jangan mengecilkan gambar */
        display: inline-block; /* Pastikan tetap horizontal */
    }

    /* Tombol Arrow */
    .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        font-size: 20px;
        padding: 10px;
        cursor: pointer;
        z-index: 2;
    }

    .arrow.left {
        left: 0;
    }

    .arrow.right {
        right: 0;
    }
    .newsletter-section{
        align-items: flex-start;
        padding: 20px 20px;
        gap: 10px;
    }
    .newsletter-title{
        font-size: 18px;
    }
    .newsletter-description{
        font-size: 7px;
    }
    .join-container{
        display: flex;
        flex-direction: column;
    }
    .join-button{
        padding: 5px 10px;
        font-size: 10px;
        width: 100%;
        margin-bottom: 5px;
    }
    .text-btn-join{
        font-size: 15px;
    }
    .footer-content{
        flex-direction: column;
        padding: 20px;
    }
    .footer-left{
        flex-direction: column;
        align-items: flex-start;
    }
    .logo-social {
        display: flex;
        margin: 0 0 20px 0;
        gap: 50px;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    .footer-social{
        margin-top: 15px;
    }
    .footer-contact{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

}
@media (min-width: 769px) {
    .slider-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 150px;
        max-width: 800px;
        margin: auto;
    }

    .slider-mitra {
        display: flex;
        gap: 150px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .slide {
        flex: none;
    }

    .img-mitra {
        width: 120px;
    }

    /* ❌ Sembunyikan tombol panah di desktop */
    .arrow {
        display: none;
    }
}
@media (min-width: 600px) and (max-width: 1024px) {
    .carousel-container{
        gap: 30px;
    }
  }
@media screen and (min-width: 769px) {
    .sidebar {
        display: none;
    }
}