body {
    color: #333;
    scrollbar-width: none;
    box-sizing: border-box;
}

.top-header {
    display: flex;
    align-items: center;
    padding: 30px;
    width: 100%;
    position: relative;
}

.back-button {
    color: #005057;
    font-size: 24px;
    position: absolute;
    left: 3%;
}

.title {
    color: #005057;
    font-size: 40px;
    font-weight: 600;
    flex-grow: 1;
    text-align: center;
}

.container {
    width: 100%;
    margin: 0 15px 20px 15px;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid #0000002d;
}
.page-wrapper {
    padding: 0 40px;
    justify-content: center;
    display: flex;
}
.bakery-title {
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
}

.section-title {
    font-size: 18px;
    font-weight: 600;
    padding: 15px;
}
.address-section{
    flex-direction: column;
    padding: 15px 15px;
    border-bottom: 2px solid #0000002d;
    display: flex;
}
.alamat-container{
    display: flex;
    flex-direction: row;
}
.address-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.map-container {
    border-radius: 8px;
    margin-right: 15px;
}

.map-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.address-details {
    flex-grow: 1;
    font-size: 14px;
}

.address {
    margin-bottom: 5px;
    width: 80%;
}

.distance {
    color: #777;
}

.pickup-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.pickup-label {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.pickup-note {
    font-size: 15px;
    width: 80%;
    color: #777;
    margin-bottom: 5px;
}
.jam{
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.pickup-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    border-radius: 15px;
    border: 2px solid #0000002d;;
    color: #006a5a;
    font-size: 14px;
    font-weight: 500;
}
.pickup-selector .arrow {
    margin-left: 8px;
}
.order-section{
    border-bottom: 2px solid #0000002d;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.order-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.order-item {
    display: flex;
    padding: 10px 0;
}
.item-image {
    border-radius: 8px;
    overflow: hidden;
    margin-right: 15px;
}

.item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-details {
    flex-grow: 1;
}

.item-name {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

.item-price {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.original-price {
    color: #aaa;
    text-decoration: line-through;
    font-size: 12px;
    margin-right: 5px;
}

.current-price {
    font-weight: 500;
}

.edit-button {
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid #006a5a;
    border-radius: 15px;
    color: #006a5a;
    font-size: 12px;
    margin-top: 10px;
}

.add-menu {
    text-align: right;
    padding: 10px 15px;
}

.add-menu a {
    color: #006a5a;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}
.payment-section{
    border-bottom: 2px solid #0000002d;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.payment-summary {
    font-size: 14px;
}

.payment-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0 15px;
}

.food-saved-message {
    margin: 15px 0;
    font-size: 14px;
    color: #555;
    padding: 0 15px;
    width: 70%;
}

.payment-method {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.payment-method-button {
    color: #000;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #005057;
}
.pembayaran {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.total-section {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    font-size: 14px;
}

.total-section .original-price {
    margin-right: 5px;
}

.total-price {
    font-weight: 600;
}

.order-button-container {
    padding: 15px;
    text-align: center;
}

.order-button {
    background-color: #005057;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 500;
    width: 25%;
    cursor: pointer;
}

.divider {
    height: 1px;
    background: #f5f5f5;
}
.green-line{
    height: 20px;
    width: 100%;
    background-color: #005057;
}
@media (max-width: 768px) {
    .back-button svg{
        height: 40px;
        width: 40px;
    }
    .title{
        font-size: 20px;
    }
    .page-wrapper{
        padding: 0 10px;
    }
    .alamat-container{
        flex-direction: column;
    }
    .address{
        width: 100%;
    }
    .address-container{
        margin-bottom: 10px;
    }
    .pickup-note{
        width: 100%;
    }
    .pickup-label{
        font-size: 18px;
    }
    .pickup-selector{
        border-radius: 40px;
        padding: 5px 10px;
    }
    .pembayaran{
        flex-direction: column;
        display: flex;
        align-items: flex-start;
    }
    .food-saved-message{
        width: 100%;
    }
    .payment-method-button {
        margin-left: 15px;
        border-radius: 40px;
    }
    .order-button {
        background-color: #005057;
        color: white;
        border: none;
        border-radius: 25px;
        padding: 15px;
        font-size: 17px;
        font-weight: 500;
        width: 60%;
        cursor: pointer;
    }
}