body {
    background-color: #f5f5f5;
    color: #333;
}

.container {
    width: 100%;
    background-color: white;
    overflow: hidden;
    margin-bottom: 20px;
}

.header {
    background-color: #00565a;
    color: white;
    padding: 20px;
    position: relative;
    height: 300px;
    border-end-end-radius: 60px;
    border-bottom-left-radius: 60px;
}
.back-button {
    color: #fff;
    font-size: 24px;
    position: absolute;
    left: 3%;
}

.product-image-container {
    text-align: center;
    margin-top: -150px;
    position: relative;
}

.product-image {
    width: 100%;
    max-width: 350px;
    border-radius: 30px;
}

.product-title {
    font-size: 25px;
    color: #00565a;
    font-weight: bold;
}

.discount-badge {
    background-color: #ffeeee;
    color: #e63946;
    padding: 2px 5px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    margin-right: 8px;
}

.price-container {
    padding: 0 40px 10px;
}

.original-price {
    color: #888;
    text-decoration: line-through;
    font-size: 14px;
    display: inline-block;
}

.current-price {
    font-weight: bold;
    font-size: 16px;
    color: #333;
}
.toko-descrip{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.store-info {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-top: 3px solid #b4b4b48f;
    border-bottom: 3px solid #a5a5a5a4;
    margin: 0 10px;
}

.store-logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 12px;
    object-fit: cover;
    border: 1px solid #eee;
}

.store-name {
    font-weight: bold;
    font-size: 17px;
    color: #333;
    margin-bottom: 5px;
}

.store-distance {
    font-size: 12px;
    color: #666;
    margin-top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jarak p{
    font-size: 15px;
    color: #666;
    font-weight: 600;
}
.location-icon {
    margin-right: 8px;
    color: #00565a;
}

.rating-container {
    justify-content: center;
    display: flex;
    align-items: center;
}

.star-icon {
    color: #ffc107;
    margin-right: 4px;
}

.rating {
    font-weight: bold;
    font-size: 14px;
}
.divider{
    height: 18px;
    margin: 0 10px;
    width: 1px;
    background-color: #6666669c;
}

.review-count {
    color: #666;
    font-size: 12px;
    margin-left: 4px;
}

.info-header {
    font-weight: bold;
    font-size: 16px;
    padding: 20px;
}

.info-grid {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
    border-bottom: 3px solid #b4b4b48f;
    padding: 20px;
    margin: 0 10px;
}

.info-column {
    flex: 1;
}

.info-label {
    font-size: 18px;
    color: #00000087;
    margin-bottom: 3px;
}

.info-value {
    font-size: 18px;
    color: #00000087;
}

.description {
    margin-top: 20px;
    padding: 20px;
}

.description-header {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

.description-text {
    font-size: 14px;
    line-height: 1.6;
    color: #333;
}

.ingredients {
    padding: 20px;
    border: 2px solid #00000081;
    margin: 0 20px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.ingredients-header {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

.ingredients-text {
    font-size: 14px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 10px;
}
.ingredients-danger{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}
.danger-text{
    color: #e63946;
    font-size: 14px;
    font-weight: bold;
}
.green-line{
    background-color: #00565a;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 15px;
}

.warning{
    padding: 20px;
    margin: 20px;
    display: flex;
    background-color: #931c1c49;
    border: 1px solid #931C1C;
    border-radius: 15px;
    justify-content: center;
}
.reviews {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.review-row{
    flex-direction: row-reverse;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}
.reviews-header {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
}

.review-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 15px;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
}

.reviewer {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.review-name-container{
    width: 100%;
    flex-direction: column;
    display: flex;
    gap: 8px;
}
.nama-bintang{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviewer-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.reviewer-name {
    font-weight: bold;
    font-size: 14px;
}

.reviewer-stars {
    color: #ffc107;
    margin-left: auto;
}

.review-text {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #0000006d;
    width: 80%;
}

.review-summary {
    display: flex;
    align-items: center;
    background-color: #00565a;
    color: white;
    border-radius: 20px;
    padding: 40px 100px;
    gap: 20px;
    flex-direction: column;
}

.review-rating-large {
    font-size: 30px;
    font-weight: bold;
    margin-right: 15px;
}

.rating-stars-large {
    flex: 1;
    margin-right: 15px;
}

.review-count-large {
    font-size: 18px;
    color: #eee;
}

.order-button {
    display: block;
    width: 30%;
    padding: 15px;
    background-color: #00565a;
    color: white;
    text-align: center;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
}
.header-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    margin-bottom: 20px;
}
.availability-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #00565a;
    color: #fff;
    padding: 15px 12px;
    border-radius: 20px;
    font-size: 14px;
}

.clock-icon {
    margin-right: 5px;
}
@media (max-width: 768px) {
    .header {
        height: 200px;
        border-end-end-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    .back-button svg{
        height: 40px;
        width: 40px;
    }
    .product-image {
        max-width: 200px;
        border-radius: 30px;
    }
    .product-image-container {
        margin-top: -100px;
    }
    .header-row {
        padding: 0 20px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .product-title{
        font-size: 15px;
    }
    .availability-tag {
        padding: 10px 8px;
        border-radius: 15px;
        font-size: 10px;
    }
    .clock-icon svg{
        height: 15px;
        width: 15px;
    }
    .price-container {
        padding: 0 20px 10px;
    }
    .store-info {
        padding: 15px 20px;
        margin: 0;
    }
    .store-logo {
        width: 80px;
        height: 80px;
    }
    .store-name {
        font-size: 12px;
    }
    .jarak p {
        font-size: 12px;
    }
    .location-icon svg{
        height: 20px;
        width: 20px;
    }
    .info-label{
        font-size: 12px;
    }
    .info-value{
        font-size: 12px;
    }
    .info-grid {
        padding: 20px;
        margin: 0;
    }
    .description-text {
        font-size: 14px;
        line-height: 1.2;
        color: #333;
    }
    .ingredients-text {
        line-height: 1.2;
    }
    .warning p{
        font-size: 12px;
    }
    .review-row {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
    }
    .review-summary {
        padding: 10px 15px;
        gap: 20px;
        width: 100%;
    }
    .review-card{
        border-radius: 15px;
        padding: 15px;
    }
    .review-text{
        font-size: 12px;
        width: 100%;
    }
    .order-button {
        display: block;
        width: 50%;
        padding: 20px 15px;
        background-color: #00565a;
        color: white;
        text-align: center;
        font-weight: bold;
        border: none;
        border-radius: 30px;
        margin-top: 20px;
        cursor: pointer;
        font-size: 12px;
    }
    
    
}